* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
}

body {
  font-family: "Inter", sans-serif;
  background: #f4f4f4;
  color: #2d2d2d;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */

header {
  background: #fff;
  border-bottom: 1px solid #ececec;
  position: sticky;
  top: 0;
  z-index: 20;
}

.header-inner {
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px 0 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  max-height: 100%;
  position: relative;
  padding: 5px;
}

.logo img {
  max-height: 80px;
}

.logo-icon {
  width: 70px;
  height: 70px;
  background: #1dc5ef;
  border-radius: 12px;
  position: relative;
}

.logo-icon::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background: white;
  border-radius: 50%;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
}

.logo-text h1 {
  font-size: 31px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 6px;
  color: #00a8d8;
}

.logo-text p {
  font-size: 18px;
  color: #555;
}

nav {
  display: flex;
  align-items: center;
  gap: 38px;
}

nav a {
  font-size: 14px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

nav a.active {
  color: #1dc5ef;
}

.booking-btn {
  background: #1dc5ef;
  color: white;
  padding: 13px 22px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0 8px 18px rgba(29, 197, 239, 0.28);
}

.mobile-toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.mobile-toggle span {
  width: 34px;
  height: 4px;
  background: #1dc5ef;
  border-radius: 999px;
}

/* HERO */

.hero-banner img {
  border-radius: 0px;
  margin: 0px;
  width: 100%;
  object-fit: cover;
}

.hero {
  position: relative;
  width: 100%;
  height: 74vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-card {
  position: absolute;
  left: 50%;
  bottom: -120px;
  transform: translateX(-50%);
  width: 520px;
  background: rgba(255, 255, 255, 0.7);
  padding: 40px;
  text-align: center;
}

.hero-card h2 {
  font-size: 26px;
  margin-bottom: 16px;
  line-height: 1.3;
}

.hero-card p {
  font-size: 15px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 24px;
}

footer {
  text-align: center;
  color: #777;
  font-size: 13px;
  padding: 42px 20px;
}

@media (max-width: 768px) {
  .hero-card {
    position: static;
    transform: none;
    width: 100%;
    margin: 0 auto;
  }

  .hero {
    padding-bottom: 0;
  }
}
